body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
header{
    text-align: center;
}

.cuerpo{
    background-color: black;
    border-radius: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer{
    margin-top: 5%;
    border-radius: 1%;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
